:root{
    --dark_leftpart: #000000;
    --main: #1a1a1a;
    --TopbarColors: #101010;
    --nav-bar-width: auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: var(--main);
    overflow: hidden;
}
